body {
    background-color: #fff;
    margin: 0;
    font-family: "Arial", sans-serif;
}

.header-main {
    display: flex;
    align-items: center;
    background: #fff;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 95px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.header-logo a {
    text-decoration: none;
    font-size: 56px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    color: #EC111A;
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 0;
}

.registered {
    font-size: 18px;
    line-height: 0;
}

.welcome-block {
    padding: 76px 20px;
    color: #fff;
    text-align: center;
    background-color: #EC111A;
}

.welcome-block h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.welcome-block p {
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto 24px;
    line-height: 1.4;
}

.welcome-block button {
    font-size: 20px;
    padding: 14px 32px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    background: #fff;
    border-style: solid;
    border-color: #EC111A;
    transition: 0.2s;
}

.welcome-block button:hover {
    background-color: #EC111A;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.content {
    background: #fff4e6;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    border: 1px solid #ddd;
}

.container {
    margin: 40px 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .header-main {
        justify-content: flex-start;
    }
}

footer {
    width: 100%;
    padding: 12px;
    background: #f2f2f2;
    color: #333;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #ddd;
    font-family: Arial, sans-serif;
}
